div.header{
	position:fixed;
	width:100%;
	height:auto;
	background:hsl(0, 0%, 50%);
}

div.header ul{
	list-style-type:none;
	margin:0;
	padding:0;
}

#website_title{
	float:left;
}

#github_icon{
	float:right;
	font-size:1.1em;
}

div.header li a{
	display:block;
	text-decoration:none;
	text-align:center;
	color:white;
	padding:15px 25px;
	font-family:"Times New Roman";
	font-style:italic;
}
