.side {
    animation: fadein 1s;
}

.navbar li {
    padding-bottom: 20px;
}

.navbar div {
    padding-right: 20px;
}

.navbar div:hover {
    cursor: pointer;
    color: grey;
}

.navbar a {
    padding-right: 20px;
    text-decoration: none;
}

.navbar a:link {
    color: black;
}

.navbar a:hover {
    color: grey;
}

.navbar a:visited {
    color: black;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}