.side {
    animation: fadein 1s;
}

.navbar li {
    padding-bottom: 20px;
}

.navbar div {
    padding-right: 20px;
}

.navbar div:hover {
    cursor: pointer;
    color: grey;
}

.navbar a {
    padding-right: 20px;
    text-decoration: none;
}

.navbar a:link {
    color: black;
}

.navbar a:hover {
    color: grey;
}

.icon i {
    font-size: 2.0em;
    padding-top: 10px;
    padding-left: 20px;
}

.icon:hover .far,
.icon .fas {
    display: none;
}

.icon:hover .fas {
    display: inline-block;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}