div.homepage{
	position:relative;
	top:70px;
}

div.sidebar{
	float:left;
	width:25%;
}

div.pagebody{
	float:left;
	width:auto;
}

div.homepage ul{
	list-style-type:none;
}

div.homepage li a{
	text-decoration:none;
	font-style:italic;
	color:Blue;
}

div.sidebar li{
	padding-bottom:20px;
}

ul.inline_list li{
	display:inline-block;
	padding-right:50px;
}

